<div class="cuadro">
  <div class="container rectangulo">
    <div class="row">
      <div class="col-8">
        <div class="displayTable">
          <div class="displayTableCell">
            <div class="authBlock">
              <br>
              <h1 class="titulo">Reestablecer contraseña</h1>
              <p class="text-center">Por favor, Ingrese un correo para enviar un enlace para cambiar contraseña</p>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Correo Electronico" #passwordResetEmail required>
              </div>
              <!-- Calling ForgotPassword from AuthService Api -->
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Cambiar Contraseña"
                  (click)="authService.ForgotPassword(passwordResetEmail.value)">
              </div>
            </div>
            <div class="redirectToLogin">
              <span>Quieres regresar ? <span class="redirect" routerLink="/sign-in">INICIAR SESION</span></span>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="col-4">
        <img class="candado" src="https://cdn.onlinewebfonts.com/svg/img_398183.png">
      </div>
    </div>
  </div>
</div>