<div class="contorno">
    <p class="encabezado"><strong>DIESGO'S SUPERMARKET</strong><br>
        Final 53 Av. Norte, Alameda Roosvelt, #135<br> San Salvador, El Salvador<br>
        Ticket # (variable)<br>
        Fecha: (metodo capture fecha actual)<br>
        <br>
    </p>
    <p class="cuerpo">
        Nombre: (cliente)<br>
        Cantidad de compras: (numero de compras)<br>
    </p>
    <table class="table table-boderless cuerpo">
        <thead>
            <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <hr>
    <p class="cuerpo">TOTAL:</p>
</div>
<br>
<button type="button" class="btn btn-outline-info ajuste">Exportar a archivo TXT</button>